@import "./variables.scss";

.deliverybanner-section {
    
    background-color: $colorOrange;

    .deliverybanner-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}