@import "./variables.scss";

.deliverybanner-section {
    width: 100%;
    height: 25vh;
    margin-top: 1rem;

    background-image: url(../../public/images/deliverybanner.png);
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    // Small screens (landscape phones)
    @media (min-width: 576px) { 
        height: 80vh;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        height: 100vh;
    }
}