@import "./variables.scss";

.menu {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 199);
} 

.orderBtn {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    position: fixed;
    right: 20px;
    bottom: 100px;
}