@import "./variables.scss";

.navigation-menu {
    padding-top: 15px;
    background: transparent;
}

.changeBgColor {
    background:linear-gradient(rgba(0,0,0,0.62), rgba(0,0,0,0.1));
}

.navigation-link {
    font-size: 10px;
    background: none !important;
    border: none;
    text-transform: uppercase;

     // Small screens (landscape phones)
     @media (min-width: 576px) { 
        font-size: 11px;
        margin: 0 2rem;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 12px;
        margin: 0 2.5rem;
    }
}

.nav-link {
    margin: 0 1rem !important;
}

.underline-hover {
    position: relative;
    color: rgb(255, 255, 255) !important;
    padding-bottom: 10px;
}
   
.underline-hover:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $colorOrange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.navigation-link:hover .underline-hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.brand-name-img {
    height: auto;
    margin-top: 0;
}