@import "./variables.scss";

.promo-section {
    width: 100%;
    height: 50vh;

    background-image: url(../images/promo-bg1.png); /* fallback */
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.20)), url(../images/promo-bg1.png);
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    // Small screens (landscape phones)
    @media (min-width: 576px) { 
        height: 80vh;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        height: 100vh;
    }
}


.promo-header {
    color: white;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    text-align: center !important;

     // Small screens (landscape phones)
     @media (min-width: 576px) { 
        font-size: 45px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 50px;
        
    }
}

.promo-subheader {
    color: $colorOrange;
    font-family: $Cursive;
    font-weight: bold;
    font-size: 45px;

    // Small screens (landscape phones)
    @media (min-width: 576px) { 
        font-size: 50px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 60px;
        
    }
}

.promo-btn {
    margin-top: 8px;

    // Small screens (landscape phones)
    @media (min-width: 576px) { 
        margin-top: 15px;
    }
}

.promo-btn img {
    margin-left: 15px;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.promo-btn:hover img {
    transform: translateX(0);
}