@import "./variables.scss";

.carousel {
    width: 100%;
    margin-top: 100px;
    display: block;
    position: relative;
}

@import "./variables.scss";

// RECOMMENDATION SECTION STYLES
.recom-section {
    display: flex;
    height: 300px;
    margin-top: 50px;
    width: 100%;
    justify-content: center;

    .recom-section-content {
        display: block;
        align-items: center;
        padding-left: 10px;
        h1 {
            color: $colorOrange;
            font-family: $Cursive;
            font-style: italic;
            font-weight: bold;
            font-size: 50px;
        }

        h5 {
            color: $colorBrown;
        }
    }

    .recom-section-img {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .recom-product {
        height: 280px;
        width: auto;
    }
}

// BOOTSTRAP STYLES OVERRIDES
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $colorOrange !important;
    border-color: $colorOrange !important;
}

.btn-primary:hover {
    background-color: $colorLightOrange !important;
    border-color: $colorLightOrange !important;
}

// MEDIA SCREEN ADJUSTMENTS
@media screen and (max-width: 680px) {
    .recom-section {
        height: 230px;

        .recom-product {
            height: 230px;
            width: auto;
        }

        .recom-section-content {
            align-content: center;
            h1 {
                font-size: 40px;
            }
            h5 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
