@import "./variables.scss";

.carousel {
    width: 100%;
    margin-top: 60px;
    display: block;
    position: relative;

    @media screen and (max-width: 997px) {
        margin-top: 90px;
    }

    @media screen and (max-width: 480px) {
        display: flex;
    }

    @media screen and (max-width: 280px) {
        margin-top: 80px;
    }
}

@import "./variables.scss";

// RECOMMENDATION SECTION STYLES
.recom-section {
    display: flex;
    height: 300px;
    margin-top: 50px;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 990px) {
        height: 230px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 445px) {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 375px) {
        height: 150px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .recom-section-content {
        padding-left: 50px;
        h1 {
            color: $colorOrange;
            font-family: $Cursive;
            font-style: italic;
            font-weight: bold;
            font-size: 50px;
        }

        h5 {
            color: $colorBrown;
        }

        @media screen and (max-width: 990px) {
            padding-left: 10px;

            h1 {
                font-size: 40px;
            }

            h5 {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 790px) {
            padding-left: 20px;
            padding-top: 20px;
            p {
                display: none;
            }

            h1 {
                font-size: 35px;
            }

            h5 {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 445px) {
            padding-left: 10px;
            padding-top: 0px;
            h1 {
                font-size: 35px;
            }

            h5 {
                font-size: 16px;
            }
        }
        @media screen and (max-width: 375px) {
            padding-left: 5px;
            padding-top: 0px;
            h1 {
                font-size: 25px;
            }

            h5 {
                font-size: 12px;
            }
        }
        @media screen and (max-width: 280px) {
            h1 {
                font-size: 20px;
            }

            h5 {
                font-size: 10px;
            }
        }
    }

    .recom-section-img {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .recom-product {
        height: 280px;
        width: auto;

        @media screen and (max-width: 990px) {
            height: 230px;
            width: auto;
        }
        @media screen and (max-width: 445px) {
            height: 200px;
        }
        @media screen and (max-width: 375px) {
            height: 150px;
        }
    }
}

// BOOTSTRAP STYLES OVERRIDES
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $colorOrange !important;
    border-color: $colorOrange !important;
}

.btn-primary:hover {
    background-color: $colorLightOrange !important;
    border-color: $colorLightOrange !important;
}

// MEDIA SCREEN ADJUSTMENTS FOR BUTTONS
@media screen and (max-width: 280px) {
    .btn {
        padding: 5px 5px !important;
        font-size: 70% !important;
        line-height: 1 !important;
    }
}

@media screen and (max-width: 375px) {
    .btn {
        padding: 8px 8px !important;
        font-size: 80% !important;
        line-height: 1 !important;
    }
}
