@import "./variables.scss";

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.review-section-title {
    text-align: center;

    h4 {
        font-size: 20px;
        font-weight: bold;
        color: $colorWhite;
    }
}

.review-carousel {
    display: inline-block;

    .review-image {
        height: 70px;
        width: 100%;
        margin-bottom: 20px;
    }

    .review-section-content {
        text-align: center;
        margin-bottom: 50px;
        min-height: 70px;

        p {
            color: $colorWhite;
        }
    }
}

@media (max-width: 768px) {
    .testimonials {
        padding-top: 1rem;
    }
}
