@import "./variables.scss";
.suggestion-box-wrapper {
    background-color: rgba(38, 44, 54, 0.907);
    padding-top: 66rem;

    @media (min-width: 576px) { 
        padding-top: 1rem;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        padding-top: 1rem;
    }
}
.suggestion-box {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.suggestion-box-row {
    text-align: center;

    .suggestion-box-title {
        font-size: 20px;
        font-weight: bold;
    }
}
.box-wrapper {
    margin-top: 80px;
}

.suggestion-form {
    .submit-btn {
        display: flex;
        justify-content: center;
    }
}
.suggestion-box-row {
    display: flex;
    justify-content: center;

    h4 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: $colorWhite;
    }
}

// desktop code
@media (min-width: 768px) {
    h4 {
        font-size: 20px;
    }
    .suggestion-form {
        width: 50%;
    }
}
