@import "./variables.scss";
.suggestion-box-wrapper {
    background-color: rgba(38, 44, 54, 0.907);
}

.suggestion-box {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.suggestion-box-row {

    display: flex;
    flex-flow: wrap;
    justify-content: center;

    .suggestion-box-title {
        font-size: 20px;
        font-weight: bold;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $colorWhite;
        margin-bottom: 20px;
    }

    @media (min-width: 576px) { 
        padding-top: 2.6rem;
    }
    
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        padding-top: 2.7rem;
    }
}

// desktop code
@media (min-width: 768px) {
    h4 {
        font-size: 20px;
    }
    .suggestion-form {
        width: 50%;
    }
}
