@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// colors
$colorCream: #fff6dd;
$colorBrown: #372c1f;
$colorLightbrown: #92816c;
$colorOrange: #ffa658;
$colorLightOrange: #fac699;
$colorWhite: #fff;

// fonts
$Inter: "Inter", sans-serif;
$Code: "source-code-pro", "Courier New", monospace;
$Cursive: "Cormorant Garamond", serif;

@mixin breakpoint($point) {
    @if $point == md {
        //768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

// BOOTSTRAP STYLES OVERRIDES
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $colorOrange !important;
    border-color: $colorOrange !important;
}

.btn-primary:hover {
    background-color: $colorLightOrange !important;
    border-color: $colorLightOrange !important;
}

// MEDIA SCREEN ADJUSTMENTS FOR BUTTONS
@media screen and (max-width: 280px) {
    .btn {
        padding: 5px 5px !important;
        font-size: 70% !important;
        line-height: 1 !important;
    }
}

@media screen and (max-width: 375px) {
    .btn {
        padding: 8px 8px !important;
        font-size: 80% !important;
        line-height: 1 !important;
    }
}
