@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

// colors
$bg-primary: #e8e8e8;

$colorCream: #fff6dd;
$colorBrown: #372c1f;
$colorOrange: #ffa658;
$colorLightOrange: #fac699;
$colorWhite: #fff;

// fonts
$Inter: 'Montserrat', sans-serif;
$Code: "source-code-pro", "Courier New", monospace;
$Cursive: "Square Peg", serif;
$AdminFont: "Josefin Sans", sans-serif;

@mixin breakpoint($point) {
    @if $point == md {
        //768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

body {
    background: $bg-primary;
}

// ======================================
// BOOTSTRAP STYLES OVERRIDES
// ======================================

// --- FOR NAVBAR ---
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: transparent !important;
    border-color: white !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 10px;


     // Small screens (landscape phones)
     @media (min-width: 576px) { 
        font-size: 11px;
        padding: 10px 15px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 12px;
    }
}

.btn-primary:hover {
    background-color: #9a9a9a36 !important;
    border-color: white !important;
}


// --- FOR MENU CATEGORY TABS ---
.btn-secondary {
    color: $colorLightOrange !important;
    font-weight: normal;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 3px solid $bg-primary!important;
    border-radius: 0px !important;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 10px;


     // Small screens (landscape phones)
     @media (min-width: 576px) { 
        font-size: 14px;
        padding: 10px 15px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 16px;
    }
}

.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    color: $colorOrange !important;
    font-weight: bold !important;
}

.btn-secondary:hover {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 3px solid $colorOrange !important;
}

.btn-light {
    color: #fff6dd;
    background-color: #ffa658;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    position: static;
    bottom: 100px;
}


// --- FOR ADMIN BUTTONS ---
.btn-info {
    color: #228c95 !important;
    font-weight: normal;
    background-color: transparent !important;
    text-transform: capitalize;
    font-size: 12px;
    border: none !important;

     // Small screens (landscape phones)
     @media (min-width: 576px) { 
        font-size: 14px;
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        font-size: 16px;
    }
}

.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    color: #228c95 !important;
    border: none !important;
}



// --------------------------------------
// MEDIA SCREEN ADJUSTMENTS FOR BUTTONS
@media screen and (max-width: 280px) {
    .btn {
        padding: 5px 5px !important;
        font-size: 70% !important;
        line-height: 1 !important;
    }
}

@media screen and (max-width: 375px) {
    .btn {
        padding: 8px 8px !important;
        font-size: 80% !important;
        line-height: 1 !important;
    }
}