@import "../variables.scss";

.main-container{
  font-family: $AdminFont;
}

.main_content{
  width: auto;
  margin-left: 250px;
}

.main_content .header{
  margin-top: 30px;
  padding: 10px;
  color: #2d2d2d;
}

.main_content .content-wrapper{
  margin: 10px;
  font-size: 16px;
}

.main_content .content-wrapper .content{
  margin-bottom: 20px;
}
