@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


.main-container, .admin-modal, .header{
  font-family: "Source Sans Pro", sans-serif;
}

.main_content{
  width: auto;
  margin-right: 15px;
  margin-left: 110px;
  

  @media (min-width: 576px) { 
    margin-left: 210px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    margin-left: 250px;
  }
}

.main_content .header{
  margin-top: 30px;
  padding: 10px;
  color: #2d2d2d;
  text-transform: uppercase;
  

  .header-add-btn {
    span {
      margin-right: 8px;
      margin-left: 0;
    }
  }

  h2{
    font-weight: bold;
  }
}

.main_content .content-wrapper{
  margin: 10px;
  font-size: 16px;

  h6 {
    margin: 0;
    margin-right: 8px;
  }
}

.main_content .content-wrapper .content{
  margin-bottom: 20px;
}

.login-wrapper {
 width: 400px;
 height: 100vh;
 margin-top: 15%;
 font-family: "Source Sans Pro", sans-serif;
}

.tablewrapper {
    font-family: "Source Sans Pro", sans-serif;
    border-radius: 5px;
    width: 100%;
    background: rgb(255, 255, 255);
    table-layout: fixed;
    border-collapse: collapse;
}

.table {
  
    width: 100%;
    border-spacing: 0px; 
    
    .img-content {
        height: 45px;
        width: 45px;
        object-fit: cover;

        @media (min-width: 576px) { 
          height: 60px;
          width: 60px;
        }
    }

    
    thead tr {    
        display: block;
        background-color: #198754;
        color: white;
        font-weight: normal;
    }

    th, td {
      //width: 130px;
      font-size: 10px;
    
      @media (min-width: 576px) { 
        width: 320px;
        font-size: 15px;
      }
    
      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) { 
        width: 360px;
        font-size: 16px;
      }
    
    }

    tbody {
      display: block;
      overflow-y: auto;
      overflow-x: auto ;
      max-height: 65vh;
    }
}

.admin-btn {
    color:rgba(0, 0, 0, 0.9) !important;
}

.form-label {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  font-size: small;
}

.btn:focus,.btn:active, .form-control:focus, .form-control:active,.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.aboutcafeimg {
  width: 10%;
}

.featured-select{
  margin-bottom: 5px;
}

// password reset / forgpt password page
.password-reset-wrapper {
  max-height: 100vh;
  margin-top: 8%;
  margin-left: 15%;
}

.save-btn, .cancel-btn {
  width:25% !important;
}

.loader-btn {
  padding-left: 15px;
  padding-right: 0px;
}

.admin-col {
  padding-left: 7%;
  padding-right: 7%;
}