@import "../variables.scss";



.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 100px;
  height: 100%;
  background: white;
  position: fixed;

  @media (min-width: 576px) { 
    width: 200px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    width: 230px;
  }
}

.wrapper .sidebar .brand-name-wrapper {
  margin-bottom: 20px;

  .brand-name-img {
    margin-top: 10px;
    position: relative;
    width: 70px;
    

    @media (min-width: 576px) { 
      width: 170px;
      left: 5%;
    }
  
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
      width: 170px;
      left: 8%;
    }
  }
}


.wrapper .sidebar .brand-name-wrapper img{
  width: 190px;
  height: auto;
}

.wrapper .sidebar ul {
  padding-left: 0;
}

.wrapper .sidebar ul li{
  padding: 17px 10px;
  list-style: none;
  
}    

.wrapper .sidebar ul li a{
  color: #2e2c2c;
  display: block;
  font-size: 12px;
  padding-left: 5px;

  img {
    width: 40px;

    @media (min-width: 576px) { 
      width: 24px;
      height: 24px;
    }
  
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
      width: 24px;
      height: 24px;
    }

  }

  @media (min-width: 576px) { 
    font-size: 15px;
    padding-left: 0px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    font-size: 15px;
    padding-left: 0px;
  }

}

.wrapper .sidebar ul li:hover{
  background-color: #c4c4c436;
}
    
.wrapper .sidebar ul li:hover a{
  color: rgb(40, 40, 40);
}

span {
  margin-right: 20px;
  margin-left: 10px;
}