@import "../variables.scss";



.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 70px;
  height: 100%;
  background: white;
  position: fixed;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    width: 230px;
  }

}

.wrapper .sidebar .brand-name-wrapper {
  margin-bottom: 20px;

  .brand-name-img {
    margin-top: 10px;
    position: relative;
    width: 70px;
    

    @media (min-width: 576px) { 
      width: 100%;
      padding: 10px;
      display:flex;
      justify-content: center;
    }
  
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
      width: 170px;
      left: 8%;
    }
  }
}


.wrapper .sidebar .brand-name-wrapper img{
  width: 190px;
  height: auto;
}

.wrapper .sidebar #options {
  padding-left: 0;
}

.wrapper .sidebar #options li{
  padding: 0;
  list-style: none;
  height: 3.2rem;
  margin: 3px 6px;
}

.sidebar #options li a {
  transition: all 0.2s ease;
  border-radius: 13px;
  height: 3.2rem;
}

.sidebar #options li a:hover{
  background-color: rgba(200, 200, 200, 0.186);
  box-sizing: border-box;
  font-weight: bold;
}

.active {
  background-color: rgba(200, 200, 200, 0.45);
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 13px;
}

.logout-btn a:hover {
  background-color: transparent !important;
}

.wrapper .sidebar ul li a{
  color: #2e2c2c;
  display: block;
  font-size: 12px;
  padding: 17px 10px;

  img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  @media (min-width: 576px) { 
    font-size: 15px;
    padding-left: 0px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    font-size: 15px;
    padding-left: 0px;
  }

}

// .wrapper .sidebar ul li:hover{
//   background-color: #c4c4c436;
// }
    
// .wrapper .sidebar ul li:hover a{
//   color: rgb(40, 40, 40);
// }

span {
  margin-right: 20px;
  margin-left: 10px;
}

.sidenav-name {
  display: none;
  margin: 0;

  @media (min-width: 768px) {
    display: inline;
  }
}


