.brand-name {
    font-weight: bold;
}

.navigation-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff6dd;
}

.navigation-link {
    margin: 0 15px;
}

.brand-logo {
    margin-right: 10px;
}

.carousel {
    position: absolute;
    width: 100%;
    top: 90px;
}
