
<<<<<<< HEAD
.navigation-menu {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation-link {
    margin: 0 15px;
}

.brand-logo {
    margin-right: 15px;
}

.carousel{
    position:absolute;
    width:100%;
    top: 100px;
}
=======
>>>>>>> e453ecae735672926ad68cd702109652f91baa18
